<!-- views/partials/navbar.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/navbar.css">
    <title>Responsive Navbar</title>
</head>

<body>
    <header class="header">
        <nav class="navbar">
            <div class="menu-toggle" id="mobile-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="navbar-brand">Email-Share</div>
            <ul class="navbar-menu">
                <li><a href="/dashboard">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="/email">Email Form</a></li>
                </ul>
                <form action="/auth/logout" method="POST" class="logout-form">
                    <button type="submit" class="logout-button">Logout</button>
                </form>
        </nav>
        </header>
    <script>
        document.getElementById('mobile-menu').addEventListener('click', function () {
            this.classList.toggle('active');
            document.querySelector('.navbar-menu').classList.toggle('active');
        });
    </script>
    </body>
    
    </html>