<!-- views/partials/navbar.ejs -->
<header class="header">
    <nav class="navbar">
        <div class="navbar-brand">Email-dev</div>
        <ul class="navbar-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/email">Email Form</a></li>
            <li><a href="/links/generate">Generate Link</a></li>
        </ul>
    </nav>
</header>